<footer class="p-5 text-center">
  <p>UwU</p>
  <p>
    Inspired by <a href="https://www.ssense.com/en-us/editorial/fashion/color-story-terminal-green"><u>this</u></a>
  </p>
  <p>
    Example posts from <a href="https://github.com/mmistakes/jekyll-sample-content"><u>here</u></a>
  </p>
</footer>
