---
layout: default
---

<p class="mb-4">root@218.67.187.183 {{ page.path }}</p>
<p>&gt; Filename: {{ page.name }}</p>
<p>&gt; Date: {{ page.date }}</p>
<p>&gt; Document title: {{ page.title }}</p>
<p>&gt; Document date: {{ page.date }}</p>

{% if page.encrypted == true %}
<p>&gt; Encryption: <span class="text-red-terminal">Enabled</span></p>
{% else %}
<p>&gt; Encryption: Disabled</p>
{% endif %}

<div class="mt-4">
  <!--prettier-ignore-->
  {% if page.encrypted == true %}
    {{ content | base64_encode }}
  {% else %}
    {{ content }}
  {% endif %}
</div>
